/** Event cal style */
.tribe_events {
  .tribe-events-content {
    h3 {
      font-size: 24px;
      color: $color-primary;
    }
  }
}

h2.tribe-events-related-events-title {
  color: $color-primary;
}